# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# Editor Files
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Dependencies
node_modules/

# Temporary / Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
user_inputs.txt
rotate_test.ps1

# Vercel deployment artifacts
.vercel
